<div class="row-fluid">
    <div class="thumbnail span12">
        <div class="span8">
            <h6>Time</h6>
            <h3><%= model.timeScore %></h3>
            <h5>(<%= model.penalty %> penalty)</h5>
        </div>
        <div class="span4">
            <div class="span12">
                <p><%= model.rank %> / <%= model.totalGamesPlayed %></p>
                <h6>Rank</h6>
            </div>
            <div class="span12">
                <p><%= model.errors %></p>
                <h6>Mistakes</h6>
            </div>
        </div>

    </div>
</div>