<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Math Brainiac Tests</title>
    <link rel="shortcut icon" type="image/png" href="test/lib/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="test/lib/jasmine.css">
  </head>
  <body>
    <div id="injectContent" style="position:absolute; left: -10000px; top: -10000px"></div>
    <script data-main="test/SpecRunner.js" src="javascripts/lib/require.js"></script>
  </body>
</html>